body {
  padding: 0;
  margin: 0;
    font-size: 10pt;
    text-align: center;
}

.logo{
  background: white;
  text-align: left;
  
}

.div{
  text-align: center;
}

head{
  padding: 0;
  margin: 0;
}
